<% provide(:title, "Contact Us") %>


<div class="container">
  <h1>聯絡我們</h1>
  <h2>資料庫設計 2016秋季班 第13組</h2>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <table>
        <tr>
          <th>Name</th>
          <th>#</th>
          <th>E-mail</th>
        </tr>
        <tr>
          <td>陳耕</td>
          <td>102450040</td>
          <td>beautifulmontion@gmail.com</td>
        </tr>
        <tr>
          <td>傅俊魁</td>
          <td>103820004</td>
          <td>michaelandhsm2@gmail.com</td>
        </tr>
        <tr>
          <td>商資穎</td>
          <td>103820010</td>
          <td>leon20121005@gmail.com</td>
        </tr>
        <tr>
          <td>馮聖昌</td>
          <td>103820017</td>
          <td>johnson1996johnson1996@gmail.com</td>
        </tr>
        <tr>
          <td>王怡萱</td>
          <td>103820019</td>
          <td>sweetapplein1996@gmail.com</td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
