<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1 font-family:'FangSong'>歡迎來到八肚夭購物平台！</h1>

  <h2>
    這是八肚夭購物平台的首頁。在此你可以在線上購買各種食品及食材，並且享受24小時內立即送達的快速服務。
    <%= image_tag("basket.png", alt: "Food-basket Image")%>
  </h2>

  <% if !logged_in? %>
    <%= link_to "立即註冊!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
