<h1>Season#show</h1>

<div class = "item"><%= event_code.event.id %></div>
<div class = "item"><%= event_code.event.name %></div>
<div class = "item">For any purchase, <%= event_code.discount%>% off!</div>
<div class = "item"><%= event_code.event.description %></div>
