<div class="row">
  <div class="col-md-2 col-md-offset-10">
      <%= link_to "繼續購物", items_path, class: "btn btn-primary" %>
      <%= link_to "下一步", cart_confirmation_path, class: "btn btn-primary pull-right" %>
  </div>
</div>
