<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="text-right">
          <span style="font-size: 1.2em">商品合計: NT<span style="color: green"><%= number_to_currency this_order.total_price %></span></span>
        </div>
      </li>
      <li class="list-group-item">
        <div class="text-right">
          <span style="font-size: 1.2em">運費: NT<% if this_order.shipping_fee == this_order.fee %><span style="color: green"><%= number_to_currency this_order.shipping_fee %><%else%><span style="color: red"><%= number_to_currency this_order.fee %><%end%></span></span>
        </div>
      </li>
      <li class="list-group-item">
        <div class="text-right">
          <span style="font-size: 1.2em">總價: NT<span style="color: green"><%= number_to_currency this_order.total_price + this_order.fee %></span></span>
        </div>
      </li>
    </ul>
  </div>
</div>
