<footer class="footer">
  <small>
    An <a href="https://github.com/michaelandhsm2/db_project">E-Commerce Online Purchasing System</a>
    by <a href="http://www.cc.ntut.edu.tw/~cliu/courses/db/db.htm">Group 13 of C-Liu's 2016 Fall Database System Course</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact Us", contact_path %></li>
    </ul>
  </nav>
</footer>
